---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content="https://postcards-to-oxford.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og-images/og-image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/og-images/twitter-summary-large.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "PP Neue Montreal";
    src:
      url("/fonts/PPNeueMontreal-Book.woff") format("woff"),
      url("/fonts/PPNeueMontreal-Book.woff2") format("woff2");
  }

  @font-face {
    font-family: "PP Acma";
    src:
      url("/fonts/PPAcma-Semibold.woff") format("woff"),
      url("/fonts/PPAcma-Semibold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Caveat";
    src:
      url("/fonts/Caveat-Regular.woff") format("woff"),
      url("/fonts/Caveat-Regular.woff2") format("woff2");
  }
</style>
